<% provide(:title, 'About Us') %>
<h1>About</h1>
<p>
  Google Docs provides us with numerous tools to collaboratively create pieces of media, yet it has nothing which allows us to visually combine multiple sources of media intoone integrated piece. Similarly, Wikipedia and more traditional encyclopedias do a fine job at describing a topicusing textual information supplemented with some pictures, but they fail to fully utilize (other than linking out to)modern sources of digital media expression, includingYouTube, Vimeo, Flickr, Scrib’d, and other web sources of information.
 </p>
 <p>
With increasing amounts of web media outlets allowingusers to freely post various types of content and embedsuch content in web pages, an application which couldsynthesize together many of these outlets to form one coherent piece of information visualization would be quiteuseful. Furthermore, this sort of synthesis of informationcould be widely adopted if it allowed for an easy and adaptable way of embedding itself into existing web pages.

 </p>
 <p>
We would like to create a web application, called Infozaic, that allows users to collaboratively (or individually)build and aggregate a mosaic of various types of information on any given topic, choosing from the most popularmedia sources on the web, along with pictures, websites,and user-generated markup. We define an infozaic as a web-based visualized collection of information objects,each of which has a user-defined relevance ranking (a relative value against the rest of the information) that determines its positioning and allotted space within the browserwindow. Infozaics could effectively be used as a morevisual information wiki on any given topic. Information object suggestion algorithms will aid users in quickly andseamlessly building beautiful and modern displays of information. The web application will also provide an embedding system, allowing users to display their creation onother websites.

</p>