
      <div class="row">
        
        <div class="span9">
          <div class="hero-unit">
            <h1>Welcome to Infozaic</h1>
            <p>With the development of an increasing amount of online media platforms which host embeddable content, we find ourselves in need of a new information platform that can integrate all popular modern forms of media. Infozaic is a web platform that allows users to collaboratively build “information mosaics” on any given topic, incorporating web pages, videos, pictures, and other embeddable content.</p>
            <p><a href="<%= about_path %>" class="btn btn-success btn-large">Learn more &raquo;</a></p>
          </div>
        </div><!--/span-->
        <div class="span3">
        	<div class="well">
		  		<h6>Member Login</h6>
		  		<form>
				    <input type="text" placeholder="Email" class="login-field">
				    <input type="password" placeholder="Password" class="login-field">
				    <label class="checkbox">
				    <input type="checkbox"> Remember me
				  </label>
						 <button class="btn btn-primary" type="submit">Sign In</button>
					 </form>
           <hr>
           <h6>Not a Member?</h6>
           <button class="btn btn-large">Sign Up, It's Free!</button>
			</div> <!--/well-->
        </div><!--/span-->
      </div><!--/row-->
      <div class="row">
            <div class="span4">
              <h2>Collaborative</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">Browse &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Modern</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">Browse &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Transparent</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">Browse &raquo;</a></p>
            </div><!--/span-->
       </div><!--/row-->


