
      <div class="row">
         <div class="span3">
        	<div class="well">
          <%= image_tag("susan.jpg", :class => "profile-pic") %>
		  		<h3>Justin Broglie</h3>


          <h6>Joined</h6>
          March 1, 2012

          <h6>Email</h6>
          jbroglie@gmail.com
          <h6>Website</h6>
          www.relativecommotion.com

          

          <%= link_to image_tag("icon-twitter.png", :class => "social-icon"), '#' %>
          <%= link_to image_tag("icon-facebook.png", :class => "social-icon"), '#' %>
          <%= link_to image_tag("icon-linkedin.png", :class => "social-icon"), '#' %>
			</div> <!--/well-->
        </div><!--/span-->
        <div class="span9">

          <div class="row">
            <div class="span9">
              <div class="hero-unit">
                <h6>About Justin</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae felis nisl, vitae luctus felis. Nam at ultricies est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae eros eu neque tincidunt consectetur eu nec urna. Phasellus non orci eget ipsum condimentum sodales eu ac mauris. Sed ante mi, porta a porta ut, eleifend sed a</p>
                <h6>Infozaic Stats</h6>
                <p>4 created | 13 collaborated</p>
              </div>
            </div>
          </div>
        	<div class="row">
            <div class="span5">
              
              <h2>Activity Feed</h2>
              <hr>
            </div>

            <div class="span4">
              <h2>Infozaic History</h2>
              <hr>
            </div>


          </div>
        </div><!--/span-->

      </div><!--/row-->


