<% provide(:extrastyle, '-fluid single') %>
<% provide(:title, 'History of West Philadelphia') %>
<%= @skip_footer = true %>

<div class="subnav subnav-fixed">

      <ul class="nav nav-pills">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Video <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class="modal-btn" data-toggle="modal" href="#add-modal" title="YouTube">YouTube</a></li>
            <li><a class="modal-btn" data-toggle="modal" href="#add-modal" title="Vimeo">Vimeo</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Photo <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class="modal-btn" data-toggle="modal" href="#add-modal" title="Photo">Link to Photo</a></li>
            <li><a class="modal-btn" data-toggle="modal" href="#add-modal" title="Flickr Slideshow">Flickr Slideshow</a></li>
            <li><a class="modal-btn" data-toggle="modal" href="#add-modal" title="Photo (Upload)">Upload</a></li>
          </ul>
        </li>
        <li><a class="modal-btn" data-toggle="modal" href="#add-modal" title="Audio">Audio</a></li>
        <li><a class="modal-btn" data-toggle="modal" href="#add-modal" title="Quote">Quote</a></li>
        <li><a class="modal-btn" data-toggle="modal" href="#add-modal" title="Website">Website</a></li>

        <li><a class="modal-btn" data-toggle="modal" href="#add-modal" title="Wikipedia">Wikipedia</a></li>

        <li><a href="#edit-modal">Edit Meta</a></li>
      </ul>

          
</div><!-- /.subnav -->

<div class="mini-meta">
      <span class="mini-meta-title">History of West Philadelphia</span>
</div> <!-- /.mini-meta -->
    
<div class="row-fluid meta">
      <div class="span9">
      
        <div id="meta-left">
          <h1 id="meta-title">History of West Philadelphia</h1>
          <h6>description</h6>
            <p id="meta-description">West Philadelphia, nicknamed West Philly, is a section of Philadelphia, Pennsylvania. Though there is no official definition of its boundaries, it is generally considered to reach from the western shore of the Schuylkill River, to City Line Avenue to the northwest, Cobbs Creek to the southwest, and the SEPTA Media/Elwyn Line to the south. An alternate definition includes all city land west of the Schuylkill; this would also include Southwest Philadelphia and its neighborhoods.</p>
          
        </div>
      </div> <!-- /.span8 -->
      <div class="span3">
        <div id="meta-right">
          <div class="row">
              <div id="modified">
                <h6>last modified</h6>
                <span id="date">12/3/2011</span>
              </div>
          </div>

          <div class="row">
            <div id="contributers">
              <h6>contributers</h6>
              <%= link_to image_tag("profile/2.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jbroglie", :rel => "tooltip" %>
              <%= link_to image_tag("profile/3.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "mhighland", :rel => "tooltip" %>
              <%= link_to image_tag("profile/4.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "etolle", :rel => "tooltip" %>
            </div>
          </div>

          <div class="row">
            <div id="contributers">
              <h6>share</h6>
            </div>
          </div>
        </div>
      </div><!-- /.span3 -->
</div><!-- /.row -->

  

<div id="canvas">

  <div class="infobit item col2">
        <div class="infobit-meta">
          <div class="link">via <a href="#">Wikipedia</a></div>
          <div class="opinion">
            <div class="likes">
              <div rel="tooltip" title="Like" class="likes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="dislikes">
              <div rel="tooltip" title="Dislike" class="dislikes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="comments">
              <div rel="tooltip" title="Comment" class="comments-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="padding">
            <h3>West Philadelphia</h3>
            <p>West Philadelphia, nicknamed West Philly, is a section of Philadelphia, Pennsylvania. Though there is no official definition of its boundaries, it is generally considered to reach from the western shore of the Schuylkill River...<a rel="tooltip" title="Reveal more text" href="#">more</a></p>
          </div>
      </div>
      
      
      
      <div class="infobit item col3">
        <div class="infobit-meta">
          <div class="link">via <a href="#">Flickr</a></div>
          <div class="opinion">
            <div class="likes">
              <div rel="tooltip" title="Like" class="likes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="dislikes">
              <div rel="tooltip" title="Dislike" class="dislikes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="comments">
              <div rel="tooltip" title="Comment" class="comments-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="infobit-content">
          <div class="img-overlay">
            <div class="img-overlay-content">
              <h1>Sunset on Baltimore</h1>
              <p>This shot was taken on Baltimore Avenue in West Philly on a sunny summer eve.</p>
            </div>

            <img src="http://www.flyingkitemedia.com/galleries/Featured_Neighborhood/West_Philadelphia/West_Philly_FN.jpg" alt="West_Philly" width="580" height="386" />

          </div>

        </div>
    
      </div>

      <div class="infobit item col2">
              <div class="infobit-meta">
                <div class="link">via <a href="http://thestartingfive.net/wp-content/uploads/2008/04/img_0893.JPG">Link</a></div>
                <div class="opinion">
                  <div class="likes">
                    <div rel="tooltip" class="likes-button" data-original-title="Like"></div><div class="opinion-count">42</div>
                  </div>
                  <div class="dislikes">
                    <div rel="tooltip" class="dislikes-button" data-original-title="Dislike"></div><div class="opinion-count">26</div>
                  </div>
                  <div class="comments">
                    <div rel="tooltip" class="comments-button" data-original-title="Comment"></div><div class="opinion-count">12</div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="infobit-content"><div class="img-overlay"><div class="img-overlay-content"><h1>Rough Neighborhood</h1><p>Porta facilisis ac adipiscing in mattis dictumst, nascetur turpis integer, vel sociis etiam urna etiam quis sed vel scelerisque placerat nisi magna. Rhoncus velit nec vut? Ac natoque habitasse sociis eros non in natoque enim, integer, in vel, sit porttitor pellentesque nunc natoque tincidunt, ut hac amet ut dignissim rhoncus, mauris duis adipiscing facilisis. Adipiscing nisi, sed? Magna rhoncus porttitor! Turpis sit montes nisi adipiscing ultrices, mattis vel proin urna ac nec. Tortor augue porta? Est sagittis, dis</p></div><img src="http://thestartingfive.net/wp-content/uploads/2008/04/img_0893.JPG" alt="img" width="580"></div></div>
            </div>
      
      <!--
      <div class="infobit item col3">
        <div class="infobit-meta">
          <div class="link">via <a href="#">Google Maps</a></div>
          <div class="opinion">
            <div class="likes">
              <div rel="tooltip" title="Like" class="likes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="dislikes">
              <div rel="tooltip" title="Dislike" class="dislikes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="comments">
              <div rel="tooltip" title="Comment" class="comments-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <iframe width="580" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Clark+Park&amp;aq=&amp;sll=39.948306,-75.211372&amp;sspn=0.009738,0.020256&amp;t=m&amp;ie=UTF8&amp;hq=Clark+Park&amp;ll=39.948569,-75.209312&amp;spn=0.01974,0.049696&amp;z=14&amp;output=embed"></iframe>
        <div class="infobit-actions">
          <button type="submit" class="btn btn-primary">Directions to Here</button>
          <button class="btn" type="reset">Directions from Here</button>
        </div>
      </div>
    -->


      



      <div class="infobit item col2">
        <div class="infobit-meta">
          <div class="link">via <a href="#">YouTube</a></div>
          <div class="opinion">
            <div class="likes">
              <div rel="tooltip" title="Like" class="likes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="dislikes">
              <div rel="tooltip" title="Dislike" class="dislikes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="comments">
              <div rel="tooltip" title="Comment" class="comments-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
          <iframe width="380" height="295" src="http://www.youtube.com/embed/HatSl1lu_PM?wmode=opaque" frameborder="0" allowfullscreen></iframe>
      </div>

      
      <div class="infobit item col2">
        <div class="infobit-meta">
          <div class="link">via <a href="#">Link</a></div>
          <div class="opinion">
            <div class="likes">
              <div rel="tooltip" title="Like" class="likes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="dislikes">
              <div rel="tooltip" title="Dislike" class="dislikes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="comments">
              <div rel="tooltip" title="Comment" class="comments-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="padding">
          <h1>Gentrification: putting your money where your mouth is</h1>
          <h6>July 15, 2007</h6>
          <p>Gentrification in my part of West Philadelphia is a problem, enough so that I can not afford to buy a home in an area that used to be famous for housing activists and social justice practicioners, among others. Of couse gentrification here, in a neighborhood that was white, Irish and middle-class until the 60’s and 70’s, and has been multi-income and multi-racial since, is not quite the same as it is in other parts of the city. In Grays Ferry, Fairmount, Bella Vista, Fishtown, Brewerytown and now the area near Temple University, more text-book gentrification has been occurring...<a href="#">more</a></p>
        </div>  
      </div>
      
      
      
      <div class="infobit item col1">
        <div class="infobit-meta">
          <div class="link">via <a href="#">YouTube</a></div>
          <div class="opinion">
            <div class="likes">
              <div rel="tooltip" title="Like" class="likes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="dislikes">
              <div rel="tooltip" title="Dislike" class="dislikes-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="comments">
              <div rel="tooltip" title="Comment" class="comments-button"></div><div class="opinion-count">102</div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <iframe width="180" height="120" src="http://www.youtube.com/embed/RzPT2PGlPH4?wmode=opaque" frameborder="0" allowfullscreen></iframe>
        
    
      </div>
      
      
      
      

      






</div> <!-- /#canvas -->

<script>
    $(function(){


      var $container = $('#canvas');

      $container.imagesLoaded( function(){

        $container.masonry({
          itemSelector : '.item',
          columnWidth: 200,
          isResizable: true,
          isAnimated: true
        });

        $container.sortable({
            distance: 12,
            forcePlaceholderSize: true,
            items: '.item',
            placeholder: 'infobit-sortable-placeholder item',
            tolerance: 'pointer',
            handle: '.infobit-meta',
            
            start:  function(event, ui) {            
                     console.log(ui); 
                ui.item.addClass('dragging').removeClass('item');
                if ( ui.item.hasClass('bigun') ) {
                     ui.placeholder.addClass('bigun');
                     }
                       ui.item.parent().masonry('reload')
                    },
            change: function(event, ui) {
                       ui.item.parent().masonry('reload');
                    },
            stop:   function(event, ui) { 
                       ui.item.removeClass('dragging').addClass('item');
                       ui.item.parent().masonry('reload');
            }
        });
      });
    });



        
        




  </script>





<!-- add modal content -->
  <div id="add-modal" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>Modal Heading</h3>
    </div>
    <div class="modal-body">





      <div class="modal-type" id="wikipedia">
        <form class="form-horizontal form-add-infobit">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="wikipedia-link">Wikipedia Link</label>
              <div class="controls">

                <input type="text" class="input-xlarge" placeholder="http://en.wikipedia.org/wiki/..." id="wikipedia-link">
                <p class="help-block">Paste in the Wikipedia URL.</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="wikipedia-content">Content to Display</label>
              <div class="controls">
                <textarea class="input-xlarge" id="wikipedia-content" rows="3"></textarea>
                <p class="help-block">Content will automatically fill in. The amount show will vary on the window size and popularity of this infobit.</p>
              </div>
            </div>
          </fieldset>
        </form>
        <a href="#" id="btn-preview-wikipedia" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #wikipedia.modal-type  -->

      <div class="modal-type" id="quote">
        <form class="form-horizontal form-add-infobit">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="quote-author">Quote Author</label>
              <div class="controls">

                <input type="text" class="input-xlarge" id="quote-author">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="quote-content">The Quote</label>
              <div class="controls">
                <textarea class="input-xlarge" id="quote-content" rows="3"></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="quote-link">Reference Link / Source</label>
              <div class="controls">

                <input type="text" class="input-xlarge" placeholder="http://en.wikipedia.org/wiki/..." id="quote-link">
                <p class="help-block">Optional</p>
              </div>
            </div>
          </fieldset>
        </form>
        <a href="#" id="btn-preview-quote" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #quote.modal-type  -->


      <div class="modal-type" id="photo">
        <form class="form-horizontal form-add-infobit">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="photo-link">Photo Link</label>
              <div class="controls">

                <input type="text" class="input-xlarge" placeholder="http://www.site.com/link/to/photo" id="photo-link">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="photo-title">Title</label>
              <div class="controls">

                <input type="text" class="input-xlarge" id="photo-title">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="photo-desc">Description</label>
              <div class="controls">
                <textarea class="input-xlarge" id="photo-desc" rows="3"></textarea>
              </div>
            </div>

            
          </fieldset>
        </form>
        <a href="#" id="btn-preview-photo" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #photo.modal-type  -->

      <div class="modal-type" id="youtube">
        <form class="form-horizontal form-add-infobit">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="youtube-link">YouTube Link</label>
              <div class="controls">

                <input type="text" class="input-xlarge" placeholder="http://www.youtube.com/watch?v=..." id="youtube-link">
                <p class="help-block">Paste in the YouTube URL.</p>
              </div>
            </div>
          </fieldset>
        </form>

        <a href="#" id="btn-preview-youtube" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #youtube.modal-type  -->

      <div class="modal-type" id="vimeo">
        <form class="form-horizontal form-add-infobit">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="vimeo-link">Vimeo Link</label>
              <div class="controls">

                <input type="text" class="input-xlarge" placeholder="http://www.vimeo.com/..." id="vimeo-link">
                <p class="help-block">Paste in the Vimeo URL.</p>
              </div>
            </div>
          </fieldset>
        </form>

        <a href="#" id="btn-preview-vimeo" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #vimeo.modal-type  -->

      <div id="preview-wrap">
        <hr>
        <h4>Preview</h4>
        <p>Here is a preview of your infobit:</p>

        <div class="well infobit-example" style="background-color: #888; border: none;">
          <div id="preview">
            <div class="infobit item col2">
              <div class="infobit-meta">
                <div class="link">via <a href="#">Link</a></div>
                <div class="opinion">
                  <div class="likes">
                    <div rel="tooltip" title="Like" class="likes-button"></div><div class="opinion-count">42</div>
                  </div>
                  <div class="dislikes">
                    <div rel="tooltip" title="Dislike" class="dislikes-button"></div><div class="opinion-count">26</div>
                  </div>
                  <div class="comments">
                    <div rel="tooltip" title="Comment" class="comments-button"></div><div class="opinion-count">12</div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="infobit-content">
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" id="btn-add" class="disabled btn btn-primary">Add</a>
    </div>
  </div> <!-- / #add-modal  -->