<div class="subnav">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Video <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#buttonGroups">YouTube</a></li>
          <li><a href="#buttonDropdowns">Vimeo</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Photo <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#navs">Link to Photo</a></li>
          <li><a href="#navs">Flickr Slideshow</a></li>
          <li><a href="#navbar">Upload</a></li>
        </ul>
      </li>
      <li><a href="#labels">Audio</a></li>
      <li><a href="#badges">Quote</a></li>
      <li><a href="#typography">Website</a></li>
      <li><a href="#thumbnails">Wikipedia</a></li>
    </ul>

    <div class="mini-meta">

      <span class="mini-meta-title">History of West Philadelphia</span>
    </div>
  </div>