<%= provide(:title, 'Sign up') %>


<ul class="breadcrumb">
        <li>
          <a href="<%= root_path %>">Home</a> <span class="divider">/</span>
        </li>
        <li class="active">Create New Profile</li>
      </ul>
      
      <div class="row">
         <div class="span12">
          

          <div class="hero-unit">
            <h1>Create New Profile</h1>
            <p>Create a profile so you can create and collaborate on infozaics.</p>
          </div>

          <%= render 'form' %>

        </div><!--/span-->

      </div><!--/row-->


    