<% provide(:title, @infozaic.title) %>
<% provide(:full_url, get_full_url(@infozaic.id.to_s)) %>

<% provide(:thumb_url, "http://beta.infozaic.com/assets/logo.png") %>

<% provide(:not_using, render_thumb_url(get_full_url(@infozaic.id.to_s),300, 200)) %>

<% provide(:desc, @infozaic.description) %>
<% @skip_footer = true %>
<% @skip_header = true %>
<% @moveflash = true %>

<% provide(:extrastyle, '-fluid single logged_off') %>
 



<div id="canvas">
  <div id="canvas-inner">
  <% if @infobits.any? %>
    <%= render @infobits %>
  <% end %>
  </div> <!-- /#canvas-inner -->
</div> <!-- /#canvas -->


<script>
    $(function(){

      var $container = $('#canvas #canvas-inner');
      var cols = 5;
      
      // display mini-meta on scroll
      var $win = $(window)
        , isFixed = 0

      // hack to make infobit top/bottom margins equal to left/right
      function updateMargins() {
        var $infobits = $('.infobit').first();
        var infobitMargin = $infobits.css("margin-left");
        $infobits.css('margin-top', infobitMargin);
        $infobits.css('margin-bottom', infobitMargin);
      }

      

      function resizeVideos() {
        // Find all YouTube and Vimeo embed videos
        var $allEmbeds = $("iframe");

        // Resize all videos according to their own aspect ratio
        $allEmbeds.each(function() {
          var $elem = $(this);
          var newWidth = $(this).parent().width();
          var newHeight = newWidth * $elem.attr('data-aspect');
          //$elem.attr('width', newWidth);
          //$elem.attr('height', newHeight);
          $elem
            .width(newWidth)
            .height(newHeight);
          //$elem.attr('src', $elem.attr('src'));
        });
      }
      
      // update columnWidth on window resize
      $win.smartresize(function() {
        
        // resize canvas min-height
        var canvasTop = $('#canvas').offset().top;
        $('#canvas').css("min-height", $(window).height() - canvasTop - 60);
       
        setColumns();
        updateMargins(); 
        resizeVideos();

        $container.isotope({
          masonry: { columnWidth: $container.width() / cols }
        });
      });

      function setColumns() {
        // if width is less than 1000, go to 3 col
        if ($win.width() < 1100) {
          $container.addClass('three-col');
          $container.removeClass('five-col');
          cols = 3;
        }
        else {
          $container.addClass('five-col');
          $container.removeClass('three-col');
          cols = 5;
        }
      }

      $container.imagesLoaded( function(){
        // Kick off one resize to fix all videos on page load
        // which will also call updateMargins()
        $win.resize();

        $container.isotope({
          // options
          itemSelector : '.infobit',
          resizable: false, // disable normal resizing
          // set columnWidth to a percentage of container width
          masonry: { columnWidth: $container.width() / cols }
        });
      });

       // generate quote preview
        $('#btn-shuffle').click(function(e) {
            e.preventDefault();
            $('#canvas #canvas-inner').isotope('shuffle');
        });

        

      // truncate descriptions
      $('.truncate').truncate({max_length: 200});

      $('.reload-isotope').click(function(e) {
          e.preventDefault();
          $container.isotope('reLayout');
      });



      // resizing infobits on click!
       $('.infobit-meta').click(function(e) {
          e.preventDefault();

          // get the parent
          var $infobit = $(this).parent();
          // find the col size
          var columns = $infobit.attr("data-columns");
          // if we are not at max cols increment cols by 1!
          if (columns < 3) {
            columns++; 
          }
          else { // else reset to 1 col
            columns = 1;
          }
          // remove all classes  (maybe don't need both item and infobit??)
          $infobit.removeClass();
          // add classes and attribute again, with col++1
          $infobit.addClass("infobit isotope-item col" + columns);
          $infobit.attr("data-columns", columns);
          
          // reload isotope
          resizeVideos();
          $container.isotope('reLayout');

      });



    });
  </script>



