
      <div class="row">
         <div class="span12">
        	<ul class="breadcrumb">
			  <li>
			    <a href="#">Home</a> <span class="divider">/</span>
			  </li>
			  <li>
			    <a href="#">Infozaics</a> <span class="divider">/</span>
			  </li>
			  <li class="active">Create Infozaic</li>
			</ul>

        	<div class="hero-unit">
            <h1>Create New Infozaic</h1>
            <p>Add your voice to the collection!  Be sure to check out if a similar infozaic exists already, to promote collaboration and information transparency!</p>
          </div>




			<%= render 'form' %>



        </div><!--/span-->

      </div><!--/row-->



